body{
	width:70%;
	margin: auto;
}

/* HEADER */
header{
	padding-top: 10px;
}

#header-top div{
	width: 45%;
	display: inline-block;
	vertical-align: top;
}

/* Header left */

#header-left{
	
}

#logo{
	width:200px;
}


/* Header right */

#header-right{
	text-align: right;
}

#img-profil{
	width: 100px;
}

#account *{
	width: auto;
	display: block;
}

/* Header bottom */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

nav li{
    display: inline;
}


nav a{
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	width: 25%;
	/* Les bordures */
	border-width: 1px;
	border-style: none solid solid none;
	border-color: black;
}

nav li:first-child a{
	border-style: none solid solid solid;
	border-width: 1px;
}