<!DOCTYPE html>

<html>
  <head>
    <title>MOLPE - Moteur d'Organisation, Listing et Partage d'Evénementiels </title>
	 <link rel="stylesheet" href="style/style.css"> 
  </head>
  
  <body>
	<header>
		<div id="header-top">
			<div id="header-left">
				<img id="logo" src="../view/style/img/molpe_small.png" />
			</div>
			
			<div id="header-right">
				<div id="account">
					<span id="username">Michel</span>
					<a href="#">Connexion / Déconnexion</a>
				</div>
				<img id="img-profil" src="../view/style/img/noimage.jpg"/>
			</div>
		</div>
		<div id="header-bottom">
			<nav>
				<ul>
					<li><a href="#">Accueil</a></li><!--
					--><li><a href="#">Rechercher</a></li><!--
					--><li><a href="#">Mes contacts</a></li><!--
					--><li><a href="#">Mon compte</a></li>
				</ul>
			</nav>
		</div>
		
		
	</header>
	
	
	
	
	
	<div id="content">
		
	</div>
	
	<footer>
	
	
	</footer>
  </body>
</html>